/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../static/images/logo-jhipster-react.svg') no-repeat center top;
  background-size: contain;
}

.list {
  list-style: none;
}
.sidebar {
  height: 900px;
  width: 100%;
}
.sidebar li {
  margin: 30px;
}

.dropdown {
  position: relative;
}
.list .dropdown a {
  text-decoration: none;
  color: #6f8d26;
  line-height: 10px;
}

.list .dropdown:hover a {
  color: #6f8d80;
}

.list .dropdown:hover .dropdown-menu-store a {
  color: #6f8d80;
}

/* .dropdown-menu-store{
  display: none;
  position: absolute;
} */

.dropdown-menu-store a {
  display: block;
  text-decoration: none;
}

.dropdown-menu-store li {
  list-style: none;
}

.list li:hover .dropdown-menu-store {
  display: block;
}

.list li:hover .dropdown-menu-store a {
  color: #6f8d26;
}

.dropdown-menu-store {
  display: none;
  position: absolute;
  padding: 0;
  margin-left: 145px;
  margin-top: -87px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle > span {
  margin-left: 5px;
}

.list .item > span {
  margin-left: 5px;
}

.list .list-item a {
  text-decoration: none;
  color: #6f8d26;
}

.list .list-item:hover a {
  text-decoration: none;
  color: #6f8d80;
}
